<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-touch-fullscreen" content="yes" />
        <meta name="format-detection" content="telephone=no"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
        <title>实名认证</title>
        <link rel="stylesheet" type="text/css" href="../../css/base.css">
        <link rel="stylesheet" type="text/css" href="../../css/common.css">
        <link rel="stylesheet" type="text/css" href="../../css/member.css">
        <link rel="stylesheet" type="text/css" href="../../css/cart.css">
        <style>
            .wtm-norecord{ padding-left: 50%; padding-top: 6rem; position: static; margin: -5rem 0 0 -5rem;}
            .wtm-inp-con ul li .input-box { margin: 0 0.5rem 0 6.5rem;}
            .wtm-inp-con ul li h4 {  width: 6rem;}
            .special-tips p {color: #468847; background-color: #DFF0D8; border-color: #D6E9C6; line-height: 0.8rem; padding:0.5rem}
            .special-tips p .title {font-size: 0.6rem; font-weight: bold; display: block;}
            .auth-step ul { font-size: 0; width: 13rem; height: 1.6rem; margin: 0.6rem auto 0.6rem auto;  padding-left: 2rem;}
            .auth-step ul li { font-size: 12px; background: url(../../images/joinin_pic.png) no-repeat 0 -130px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; width: 120px; height: 16px; position: relative; z-index: 1;}
            .auth-step ul li span { color: #999; text-align: center; width: 120px; height: 20px; margin-left: -60px; position: absolute; z-index: 1; bottom: -30px; left: 50%;}
            .auth-step ul li.current { background-position: -120px -130px;}
            .auth-step ul li.step1 { background-position: -52px -130px; width: 68px;}
            .auth-step ul li.step1.current { background-position: -172px -130px;}
            .auth-step ul li.step1 span { margin-left: -86px;}
            .auth-step ul li.step3 { width: 68px;}
            .auth-step ul li.step3 span { margin-left: -36px;}

            .info-box{margin: 0 0.5rem 0 5.5rem; padding-top: 0.3rem;}
            .info-box span{font-size: 0.65rem;}
            .info-box img{max-width: 100%;}
        </style>
</head>
<body>
<header id="header" class="fixed">
  <div class="header-box">
    <div class="header-l"> <a onclick="WTback(this)" href="javascript:;"><i class="back"></i></a></div>
    <div class="header-title">
      <h1>实名认证</h1>
    </div>
  </div>
</header>
        <div class="wtm-main-box" id="member-auth-div">
        </div>
        <div class="fix-block-r">
            <a href="javascript:void(0);" class="gotop-btn gotop hide" id="goTopBtn"><i></i></a>
        </div>


        <script type="text/html" id="member-auth-tmpl">
            <div class="special-tips">
                <p>
                    <span class="title">认证说明：</span>
                    1. 通过认证后, 购买商品时可享受商品优惠价.<br/>

                </p>
            </div>
            <div class="auth-step">
                <% if(step_type == 1){ %>
                <ul>
                    <li class="step1 <% if(step >= 0){ %>current<% } %>"><span>提交资料</span></li>
                    <li class="<% if(step >= 1){ %>current<% } %>"><span>审核认证</span></li>
                    <li class="step3 <% if(step >= 3){ %>current<% } %>"><span>认证通过</span></li>
                </ul>
                <% } else { %>
                <ul>
                    <li class="step1 current"><span>平台提升</span></li>
                    <li class="current"><span>补充资料</span></li>
                    <li class="step3 <% if(step >= 3){ %>current<% } %>"><span>完成认证</span></li>
                </ul>
                <% } %>
            </div>
            <div class="wtm-member-auth">
                <% if(step == 0){ %>
                <form>
                    <div class="wtm-inp-con">
                        <ul class="form-box">
                            <li class="form-item">
                                <h4>真实姓名</h4>
                                <div class="input-box">
                                    <input type="text" class="inp" name="member_truename" id="member_truename" autocomplete="off"/>
                                    <span class="input-del"></span> </div>
                            </li>
                            <li class="form-item">
                                <h4>公司名称</h4>
                                <div class="input-box">
                                    <input type="text" class="inp" name="company_name" id="company_name" autocomplete="off"/>
                                    <span class="input-del"></span> </div>
                            </li>
                            <li class="form-item">
                                <h4>公司所在地</h4>
                                <div class="input-box">
                                    <input name="area_info" type="text" class="inp" id="area_info" autocomplete="off" readonly/>
                                </div>
                            </li>
                            <li class="form-item">
                                <h4>公司详细地址</h4>
                                <div class="input-box">
                                    <input type="text" class="inp" name="company_address_detail" id="company_address_detail" autocomplete="off">
                                    <span class="input-del"></span> </div>
                            </li>
                            <li class="form-item">
                                <h4>公司电话</h4>
                                <div class="input-box">
                                    <input type="txt" class="inp" name="company_phone" id="company_phone" autocomplete="off"/>
                                    <span class="input-del"></span> </div>
                            </li>
                            <li class="form-item">
                                <h4>店名</h4>
                                <div class="input-box">
                                    <input type="txt" class="inp" name="company_store_name" id="company_store_name" autocomplete="off"/>
                                    <span class="input-del"></span> </div>
                            </li>
                            <li>
                                <h4>营业执照图片</h4>
                                <div class="input-box">
                                    <div class="wtm-upload">
                                        <a href="javascript:void(0);">
                                            <span><input type="buttom" hidefocus="true" size="1" class="input-file" name="file" id=""></span>
                                            <p><i class="icon-upload"></i></p>
                                        </a>
                                        <input type="hidden" name="business_licence_number_elc" id="business_licence_number_elc" value="">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h4>个人身份证图片(正面)</h4>
                                <div class="input-box">
                                    <div class="wtm-upload">
                                        <a href="javascript:void(0);">
                                            <span><input type="buttom" hidefocus="true" size="1" class="input-file" name="file" id=""></span>
                                            <p><i class="icon-upload"></i></p>
                                        </a>
                                        <input type="hidden" name="member_card_front" id="member_card_front" value="">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h4>个人身份证图片(反面)</h4>
                                <div class="input-box">
                                    <div class="wtm-upload">
                                        <a href="javascript:void(0);">
                                            <span><input type="buttom" hidefocus="true" size="1" class="input-file" name="file" id=""></span>
                                            <p><i class="icon-upload"></i></p>
                                        </a>
                                        <input type="hidden" name="member_card_back" id="member_card_back" value="">
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="error-tips"></div>
                        <div class="form-btn"><a class="btn-l" href="javascript:;">提交资料</a></div>
                    </div>
                </form>
                <% } else if(step == 1) {//等待审核 %>
                    <div class="wtm-norecord order">
                        <div class="norecord-ico"><i></i></div>
                        <dl>
                            <dt><%=apply_message %></dt>
                        </dl>
                    </div>
                <% } else if(step == 2) {//审核失败 %>
                    <div class="wtm-norecord order">
                        <div class="norecord-ico"><i></i></div>
                        <dl>
                            <dt>审核失败：<%=apply_message %></dt>
                        </dl>
                        <a id="reapply_btn" href="member_auth.html?do=reapply" class="btn">重新申请</a>
                    </div>
                <% } else if(step == 3) {//认证通过 %>
                	<h3 class="wtm-default-list-tit">已认证的信息</h3>
                    <ul class="wtm-default-list">
  						<li>
    						<h4>企业名称</h4>
    						<span class="num"><%=auth_info.company_name%></span>
          				</li>
  						<li>
    						<h4>店名</h4>
    						<span class="num"><%=auth_info.company_store_name%></span>
          				</li>
                        <li>
    						<h4>姓名</h4>
    						<span class="num"><%=auth_info.member_truename%></span>
          				</li>
					</ul>
                <% } %>
            </div>
        </script>
        <script type="text/javascript" src="../../js/api.js"></script>
        <script type="text/javascript" src="../../js/zepto.min.js"></script>
        <script type="text/javascript" src="../../js/template.js"></script>
        <script type="text/javascript" src="../../js/config.js"></script>
        <script type="text/javascript" src="../../js/common.js"></script>
        <script type="text/javascript" src="../../js/simple-plugin.js"></script>
        <script type="text/javascript" src="../../js/zepto.waypoints.js"></script>
        <script type="text/javascript" src="../../js/html/member_auth.js"></script>
    </body>
</html>
