<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
<title>我的代金券</title>
<link rel="stylesheet" type="text/css" href="../../css/common.css">
<link rel="stylesheet" type="text/css" href="../../css/member.css">
<script src="html5plus://ready"></script>
</head>
<body>
<header id="header" class="fixed">
  <div class="header-box">
    <div class="header-l"><a onclick="WTback(this)" href="javascript:;"><i class="back"></i></a></div>
        <div class="header-title">
      <h1>我的代金券</h1>
    </div>
</header>
<div class="wtm-main-box">
  <div class="wtm-voucher-list">
    <ul class="wtm-tickets" id="voucher-list">
    </ul>
  </div>
</div>
<div class="fix-block-r"> <a href="javascript:void(0);" class="gotop-btn gotop hide" id="goTopBtn"><i></i></a> </div>
<script type="text/html" id="voucher-list-tmpl">
<% if (voucher_list && voucher_list.length > 0) { %>
<% for (var k in voucher_list) { var v = voucher_list[k]; %>
	<li class="ticket-item <% if (v.voucher_state == 1) { %>normal<% }else{ %>invalid<%}%>">
		<a onclick="WtOpenUrl(this)" url="../store.html?store_id=<%= v.store_id %>">
		<div class="border-left"></div>
		<div class="block-center">
			<div class="store-info">
				<div class="store-avatar"><img src="<%= v.store_avatar_url %>" /></div>
				<dl>
					<dt class="store-name"><%= v.store_name %></dt>
					<dd>有效期至：<%= v.voucher_end_date_text %></dd>
				</dl>
			</div>
			<div class="ticket-info">
				<div class="bg-ico"></div>
				<% if (v.voucher_state==2) { %>
				<div class="watermark ysy"></div>
				<% } %>
				<% if (v.voucher_state==3 || v.voucher_state==4) { %>
				<div class="watermark ysx"></div>
				<% } %>
				<dl>
				<dt>￥<%= v.voucher_price %></dt>
				<dd><% if (v.voucher_limit) { %>满<%= v.voucher_limit %>使用<% } %></dd>
				</dl>
			</div>
		</div>
		<div class="border-right"></div>
		</a>
	</li>
<% } %>
<li class="loading"><div class="spinner"><i></i></div>数据读取中</li>
<% } else { %>
	<div class="wtm-norecord voucher">
		<div class="norecord-ico"><i></i></div>
		<dl>
			<dt>您还没有相关的代金券</dt>
			<dd>店铺代金券可享受商品折扣</dd>
		</dl>
		<a onclick="WtOpenUrl(this)" url="../voucher_list.html" class="btn">去领取</a>
	</div>
<% } %>
</script> 
<script type="text/javascript" src="../../js/api.js"></script>
<script type="text/javascript" src="../../js/config.js"></script> 
<script type="text/javascript" src="../../js/zepto.min.js"></script> 
<script type="text/javascript" src="../../js/template.js"></script> 
<script type="text/javascript" src="../../js/common.js"></script> 
<script type="text/javascript" src="../../js/wtscroll-load.js"></script> 
<script>
apiready=function(){
    //监听返回事件
    api.addEventListener({
        name: 'LoginTo'
    }, function(ret, err) {
        location.reload();
    });
}
	function showSpacing(){
		$('.spacing-div').remove();
		$('.invalid').first().before('<div class="spacing-div"><span>已失效的券</span></div>');
	}
	$(function(){
		var key = $api.getStorage('key');
		if (!key) {
			window.location.href = 'login.html';
			return;
		}
		//渲染list
		var load_class = new wtScrollLoad();
		load_class.loadInit({
			'url':MapiUrl + '/index.php?w=member_voucher&t=voucher_list',
			'getparam':{'key':key},
			'tmplid':'voucher-list-tmpl',
			'containerobj':$("#voucher-list"),
			'iIntervalId':true,
			'callback':showSpacing,
			'data':{MUrl:MUrl}
		});
	});
</script>
</body>
</html>
